@media(max-width:768px) {
    .floating-ad {
     display: none;
    }
}
@media(min-width:769px){
    .floating-ad {
        top: 3.42em;
        position: fixed;
        width: 20vw;
        height: 50vw;
        right: 0;
        display: inline-block;
        /* border: 1px solid black; */
    }
}