


@media (max-width:768px) {
    .post-thumbnail {
        margin: 0 auto;
        overflow: hidden;
        display: block;

    }
    .post-frame {
        width: 100%;
    }
}

@media (min-width:769px) {
    .post-title{
        margin:0;    
    }
    .post-frame,
    .post-thumbnail {
        display: inline-block;
    }
    .post-frame {
        width: 60%;
    }
    

    .thumbnail-img-frame {
        overflow: hidden;
        height: 100%;
        width: auto;
    }

    .post-thumbnail {
        max-width: 15vw;
        max-height: 40%;
        margin: 0 0 1.1612rem 1.1612rem;
        overflow: hidden;
    }


    .post-a {
        margin-bottom: 1.1612em;
        display: flex;
        justify-content: space-between;
    
    
}



.post-title {
    font-family: Nanum Myeongjo, sans-serif;
}