@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

.task-list {
    list-style: none;
    padding: 0;
}

.bucketlist-quote {
    width: 100vw;
    height: 25vw;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vw;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.magnetic-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wishes {
    display: block;
    flex: 1;
max-width: 33%;
    max-height: 20vw;
    margin: auto;
}