/* Both */
#epic-wrapper ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

}

.post-info {
    font-family: 'Nanum Myeongjo', sans-serif;
    color: white; 
    display: block;
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.epic-pics {
    margin-top: 1.1612rem;
    display: inline-block;
    box-sizing: border-box;
    /* height: 30vw; */
    height:30vh;
    /* width: 60vw; */
    width: 100%;
    filter: grayscale(10%)
}

/* on Mobile */
@media (max-width:1023px){
    #next-posts,#previous-posts,.mask{
        display: none;
    }
}

/* on Monitor */
@media (min-width:1024px){


    #epic-wrapper {
        position: relative;
        left: 0;
        width: 1000%;
        margin: 0 auto;
    }
    
    
    
    .post-a:hover {
        transition: opacity .3s ease-in-out;
    }
    
    .post-date {
        color: white;
    }
    
    .epic-pics-list {
        width: 40vw;
        float: left;
    }
    
    
    /* 1st set */
    .item-pic-type-1 {
        width: 100%;
        height: 320px;
    }
    
    .item-pic-type-2,
    .item-pic-type-3,
    .item-pic-type-4 {
        width: 33.3334%;
        height: 200px;
    }
    
    /* 2nd set */
    .item-pic-type-5,
    .item-pic-type-6,
    .item-pic-type-7,
    .item-pic-type-8 {
        width: 50%;
        height: 260px;
    }
    
    /* 3rd set */
    .item-pic-type-9 {
        width: 50%;
        height: 520px;
    }
    
    .item-pic-type-10,
    .item-pic-type-11 {
        width: 50%;
        height: 260px;
    }
    
    /* 4th set */
    .item-pic-type-12,
    .item-pic-type-13 {
        width: 50%;
        height: 520px;
    }
    
    /* 5th set */
    .item-pic-type-14,
    .item-pic-type-15,
    .item-pic-type-16,
    .item-pic-type-17 {
        width: 50%;
        height: 260px;
    }
    
    /* 6th set */
    
    .item-pic-type-18 {
        width: 100%;
        height: 320px;
    
    }
    
    .item-pic-type-19,
    .item-pic-type-20,
    .item-pic-type-21 {
        width: 33.3%;
        height: 200px;
    }
    
    
    .float {
        float: left;
    }
    
    #next-posts {
        right: 20%;
    }
    
    #previous-posts {
        left: 20%;
    }
    
    #previous-posts,
    #next-posts {
        position: absolute;
        top: 37%;
        color: white;
        font-size: 15rem;
        display: inline-block;
        border-radius: 100%;
        text-align: center;
        margin: 0 auto;
        opacity: .8;
    }
    
    #previous-posts:hover,
    #next-posts:hover {
        transition: all .4s ease-in-out;
        opacity: 1;
    }
    
    .soft,
    .soft:active {
        transition: all 1s ease-in-out;
    }
    


    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        opacity: .4;
        filter: alpha(opacity=40);
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
    }
    
    
    .mask:hover{
        opacity:0;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
    }
        
    
}