@import url('https://fonts.googleapis.com/css?family=Poiret+One');


/* mobile */
@media (max-width:768px) {

    .page-link li {
        display: block;
        text-align: center;
    }

    .page-link li:nth-child(7) {
        display: none;
    }

    .page-link {
        padding: 0;
        margin: 3vw;
    }

    #nav {
        display: none;
    }

    #nav-trigger {
        text-align: center;
        display: block;
    }

}

/* laptop, tablet */
@media (min-width:769px) {

    .blog-owner-pic {
        margin: 1vw auto;

    }

    .page-link {
        padding: 0;
        margin: 0 auto;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
    }

    .page-link li {
        display: inline-block;
    }

    #nav-trigger {
        display: none;
    }
}

.blog-owner-pic {
    height: 100%;
}

.page-link li a {
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;

}

#nav {
    margin-top: 3vw;
}