.related-posts {
    min-width: 100%;
    background-color: #88888812;

}

.related-post-panel {
    margin: 1.1612rem;
    padding: 1.1612rem;
    background-color: white;

}

.related_post_title {
    text-align: left;
    font-family: 'Nanum Myeongjo', sans-serif;
    color: black;
}

.grid-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

}

@media (min-width:769px) {
    .grid-wrapper {
        width: 50vw;
    }
}

.related-posts-img {
    height: 2.32vw;
    background-size: cover;
}

.related_post_title {
    text-align: center;
}