.related-posts {
    min-width: 100%;
    background-color: #88888812;

}

.grid-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:4vw;
}

@media (max-width:768px){
   .grid-wrapper{ 
       width : 95vw;
   }
}
@media (min-width:769px){
    .grid-wrapper{
        width:50vw;
    }
}

.related_post_title{
    text-align: center;
}