@import url('https://fonts.googleapis.com/css?family=Raleway');

#typed,
.typed-cursor {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
}

#typed-wrapper {
    opacity: .4;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    width: 90vw;
    height: 20vh;
}