@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#typed,
.typed-cursor {
    font-size: 4rem;
font-family: 'Just Another Hand', cursive;
}

#typed-wrapper {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    line-height: center;
    height: 60vh;
}
