@import url('https://fonts.googleapis.com/css?family=Raleway');

#typed,
.typed-cursor {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
}

#typed-wrapper {
    opacity: .4;

    text-align: left;
    display: table-cell;
    vertical-align: middle;
    width: 90vw;
    height: 11.613vh;
    transition: all .4s ease-in-out
}

#typed-wrapper:hover {
    opacity: 1;
transition: all .4s ease-in-out
}