<div id="nav-wrapper">
  <nav id="nav" class="site-nav">
    <ul class="page-link">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home "></i></a></li>
      <li><a href="{{ "/archive" | prepend: site.baseurl }}">Post</a></li>
      <li><a href="{{ "/bucketlist" | prepend: site.baseurl }}">Wishes</a></li>
      <li><a href="{{ "/reading-note" | prepend: site.baseurl }}">Book Review</a></li>
      <li><a target="_blank" href="https://instagram.com/{{site.instagram_username}}">
          <i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </nav>

  <a id="nav-trigger" onclick="toggle()"><i class="fas fa-bars"></i></a>
</div>


<script>
  var toggle = function() {
    var navDisplay = document.getElementById('nav').style.display;


    if ( document.getElementById('nav').style.display == 'block') {
       document.getElementById('nav').style.display = 'none';
       console.log('nav hidden')
    } else{
       document.getElementById('nav').style.display = 'block'
      console.log('nav show');
    }
  }
</script>