<div id="nav-wrapper">
  <nav id="nav" class="site-nav">
    <ul id="nav-ul" class="page-link">
      <li class="tooltip smooth"><a href="{{ site.baseurl }}/"><i class="fas fa-home"></i>
          <span class="tooltiptext">Home</span></a></li>
      <li class="tooltip smooth"><a href="{{ "/archive" | prepend: site.baseurl }}"><i class="fas fa-quote-right"></i>
          <span class="tooltiptext">Article</span></a></li>
      <li class="tooltip smooth"><a href="{{ "/reading-note" | prepend: site.baseurl }}"><i class="fas fa-book"></i>
          <span class="tooltiptext">Book Review</span></a></li>
      <li class="tooltip smooth"><a target="_blank" href="{{site.instagram_url}}"><i class="fas fa-hashtag"></i>
          <span class="tooltiptext">Instagram</span></a></li>
      <li class="tooltip smooth"><a target="_blank" href="{{site.youtube_url}}"><i class="fab fa-youtube"></i>
          <span class="tooltiptext">Youtube</span></a></li>
    </ul>
  </nav>

  <a id="nav-trigger" onclick="toggle()"><i class="fas fa-bars"></i></a>
</div>


<script type="text/javascript">
  var toggle = function () {
    var navDisplay = document.getElementById('nav').style.display;


    if (document.getElementById('nav').style.display == 'block') {
      document.getElementById('nav').style.display = 'none';
      console.log('nav hidden')
    } else {
      document.getElementById('nav').style.display = 'block'
      console.log('nav show');
    }
  }
</script>