<div id="nav-wrapper">
  <nav id="nav" class="site-nav">
    <ul class="page-link">
      <li><a href="{{ site.baseurl }}/">HOME</a></li>
      <li><a href="{{ "/archive" | prepend: site.baseurl }}">POST</a></li>
      <li><a href="{{ "/bucketlist" | prepend: site.baseurl }}">BUCKETLIST</a></li>
      <li><a href="{{ "/reading-note" | prepend: site.baseurl }}">BOOK-REVIEW</a></li>
      <li><a target="_blank" href="{{site.instagram_url}}">INSTAGRAM</a></li>
      <li><a target="_blank" href="{{site.youtube_url}}">YOUTUBE</a></li>

    </ul>
  </nav>

  <a id="nav-trigger" onclick="toggle()"><i class="fas fa-bars"></i></a>
</div>


<script>
  var toggle = function () {
    var navDisplay = document.getElementById('nav').style.display;


    if (document.getElementById('nav').style.display == 'block') {
      document.getElementById('nav').style.display = 'none';
      console.log('nav hidden')
    } else {
      document.getElementById('nav').style.display = 'block'
      console.log('nav show');
    }
  }
</script>


