{% unless page.category == null %}
{% capture pageCategory %}{{ page.category | first }}{% endcapture %}
{% unless site.categories[pageCategory].size == 1 %}
<div class="row related-posts">
  <div class="grid-wrapper">
    {% for post in site.categories[pageCategory] limit:6 %}
    {% unless post.title == page.title %}
    <a class="related-post-panel" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
      <!-- <div class="related-posts-img" style="background-image: url('{{post.thumbnail}}')"></div> -->
     <!-- <div class="related-img-frame">  -->
      <img class="related-posts-img" src="{{post.thumbnail}}">
    <!-- </div> -->
      <h3 class="related_post_title">
        {{ post.title }}

      </h3>
      <p>{{ post.content | markdownify | strip_html  | truncatewords: 10 }}</p>
    </a>

    {% endunless %}
    {% endfor %}
  </div>
</div>

{% endunless %}
{% endunless %}



<script type="text/javascript">
  // thumbnail removed if itself's post doesn't have a thumbnail
  var relPostThumbnail = document.getElementsByClassName('related-posts-img')
  console.log(relPostThumbnail)
  console.log(window.location.href)
  for (i = 0; i < relPostThumbnail.length; i++) {
    if (relPostThumbnail[i].src == undefined || relPostThumbnail[i].src == window.location.href ) {
      console.log(relPostThumbnail[i].src)
      console.log(1)
      relPostThumbnail[i].outerHTML = '';
    } else {
      console.log(relPostThumbnail[i].src)
      console.log(2)
    }
  }
</script>