<script>
    window.onload = function () {
        var options = {
            strings: ["This is an archive of my thoughts","It's my path of growth","Vegan, Special Education Teacher, Coder, Backpacker, Photographer... it means all of me"],
            typeSpeed: 70,
            backSpeed:50,
            smartBackspace: true,
            loop: true,
            loopCount: Infinity,
            showCursor: true,
            cursorChar: '|',
            backDelay: 300,

        }

        var typed = new Typed("#typed", options);
    }
</script>

<div id="typed-wrapper">
<span id="typed">
</span>
</div>
