<script>
    window.onload = function () {
        var options = {
            strings: ["Yeah, You may say I'm a dreamer","My archive of Thought.","My path of growth.","When you measure something,","You can control it.","Believe in 20/80 leverage","Less is more.",""],
            typeSpeed: 70,
            backSpeed:50,
            smartBackspace: true,
            loop: true,
            loopCount: Infinity,
            showCursor: true,
            cursorChar: '|',
            backDelay: 1500,
        }

        var typed = new Typed("#typed", options);
    }
</script>

<div id="typed-wrapper">
<span id="typed">
</span>
</div>
