<script>
    window.onload = function () {
        var options = {
            strings: ["This is SJ's blog", "I love to make Natured world.",
                "Plant-based lifestyle for people.",
                "Plants are always right :)", "Let's follow the Nature."
            ],
            typeSpeed: 70,
            backSpeed:50,
            smartBackspace: true,
            loop: true,
            loopCount: Infinity,
            showCursor: true,
            cursorChar: '|',
            backDelay: 300,

        }

        var typed = new Typed("#typed", options);
    }
</script>

<div id="typed-wrapper">
<span id="typed">
</span>
</div>