/* layout */
html,
.container {
  min-height: 100%;
}

body {
  display: grid;
  grid-template:'a b a'
                'a b a'
                'a b a';
  min-height: 100%;
  height: auto;
}

@media (max-width:426px) {

  .wrapper>* {
    margin: 0 auto;
    width: 80vw;
  
  }


}

@media (min-width:426px) and(max-width:768px) {
  .wrapper>* {
    margin: 0 auto;
    width: 90vw;
  }

}

@media (min-width:1024px) {

  .wrapper:nth-child(1) {
    margin: 0 auto;
    width: 40vw;
  }

  .wrapper>.related_post {
    min-width: 100vw;
    background: #80808012;
  }
}


.site-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0rem;
  width: 100%;

  /* footer style */
  color: #99999a;
  background-color: #FAFAFB;

  .left {
    a {
      color: #666;
      border-bottom: 1px dotted;
      text-decoration: none;
    }

    a:hover {
      color: red;
      border-bottom: 1px dotted;
    }
  }
}


/* Effects
—————————————————————————————————————————————————— */

.blinking_underscore {
  -webkit-animation: blinking_underscore_frame 1.5s infinite ease;
  -moz-animation: blinking_underscore_frame 1.5s infinite ease;
  -ms-animation: blinking_underscore_frame 1.5s infinite ease;
  -o-animation: blinking_underscore_frame 1.5s infinite ease;
  animation: blinking_underscore_frame 1.5s infinite ease;
}

.logo {
  margin-bottom: 12.5px;
  font-weight: $font-weight-bold;
}

.logo a {
  -webkit-transition: .4s;
  transition: .4s;
}

.logo a:hover {
  color: #222;
  background-image: -webkit-linear-gradient(bottom, #222, #222);
  background-image: linear-gradient(to top, #222, #222);
  text-shadow: -1px -1px 0 #FDFDFD, 1px -1px 0 #FDFDFD, -1px 1px 0 #FDFDFD, 1px 1px 0 #FDFDFD;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 96%
}

.nav {
  line-height: $base-line-height;

  .page-link {
    color: $text-color;
    line-height: 1.0;
    display: block;
    padding: 5px 0px 0px 0px;


    li {
      font-size: 1.5rem;
      list-style: none;
      font-weight: 100;
      margin-bottom: 1rem;
    }

    a:active {
      font-weight: 500;
    }
  }
}

/* site-nav */

@include media-query($on-laptop) {
  .site-nav {

    /* flex box */
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    // Import partials from `sass_dir` (defaults to `_sass`)

    -webkit-transition: all .4s;
    transition: all .4s;


  }
}

.post {
  @extend .dont-break-out;
}


.post_header {
  margin-bottom: 1rem;
}

.post_title {
  margin-bottom: 0.5rem;
}

.post_date {
  color: #888;
  font-size: 1.4rem;
}

p.readmore {
  text-align: right;
}

.post_meta {
  .author_meta {
    img {
      height: 24px;
      width: 24px;
    }
  }
}


time {
  color: #959595;
}

.article-content >*:not(a),
.article-content >*:not(h1),
.article-content >*:not(h2),
.article-content >*:not(h3),
.article-content >*:not(h4),
.article-content >*:not(h5),
.article-content >*:not(h6)
{
  color: #959595;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6{
  color:black;
}


.archive_list div a{
  color:black;

}

.article-content > a {
  color: blue;
  text-decoration: none;
  transition-duration: 0.5s;
}

.article-content a:hover {
  color: black;
  // border-bottom: 1px dotted black;
  transition-duration: 0.5s;
}

.article-footer {
  padding: 2rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .share {
    text-align: center;
  }

  .share-link {
    text-decoration: underline;
    margin-left: 8px;
  }

}

/* author info */



/* icon */

.icon {
  vertical-align: bottom;
}

body.custom-background {
  background-image: url('/images/background.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}

/* Archive page */

.category-name {
  padding-top: 20px;
  text-transform: lowercase;
  font-variant: small-caps;

  h2 {
    letter-spacing: 0;
    border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* Pagination */


.pagination {
  width: 50%;
}

.pagination.older-post {
  float: right;
  text-align: right;
}

/* others */

.small-font {
  font-size: $small-font-size;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Smaller than tablet */
@media (max-width: 750px) {}

/* Smaller than tablet */
@media (max-width: 550px) {}