<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="fb:app_id" content="2378615019060878">
  
    {% if page.is == 'post' %}
    {% assign type="article" %}
    {% assign title = page.title %}
    {% assign description = page.content %}
    {% assign thumbnail = page.thumbnail %}
  
    {% else %}
    {% assign type="website" %}
    {% assign title = site.title %}
    {% assign description = site.description %}
    {% assign thumbnail = site.thumbnail %}
  
    {% endif %}

    <!-- page layout : {{ page.layout }} -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="{{ type }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{description | markdownify | strip_html  | truncatewords: 15 }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="article:author" content="SJ">
    <meta property="article:publisher" content="SJ">
  
  
    <!-- social image sharing -->
   
    <meta property="og:image:url" content="{{ thumbnail }}">
    <meta property="og:image:secure_url" content="{{ thumbnail }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
  
    <meta name="google-site-verification" content="KWKlmrDtMWVC1JUv-UGw_uyEusF9aGtzlKDcepw08HI" />
    <meta name="naver-site-verification" content="3fe947b693663b49943a1272b8cb8ae6d2e5082f" />
  
    <title> {{title }}
    </title>
  
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/nav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/sns-footer.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/tooltip.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/transition.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font.css" | prepend: site.baseurl }}">
  
    {% if site.baseurl %}
    <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/typed.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/landing-page.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/epic-pics.css" | prepend: site.baseurl }}">
  
    {% endif %}
  
    {% if page.permalink contains 'archive' %}
    <link rel="stylesheet" href="{{ "/css/archive.css" | prepend: site.baseurl }}">
    {% endif %}
  
    {% if page.permalink contains 'portfolio'%}
    <link rel="stylesheet" href="{{ "/css/portfolio.css" | prepend: site.baseurl }}">
    {% endif%}
  
    {% if page.permalink contains 'bucketlist' %}
    <link rel="stylesheet" href="{{ "/css/bucketlist.css" | prepend : site.baseurl }}">
    {% endif %}
  
    {% if page.layout == "post"  %}
    <link rel="stylesheet" href="{{ "/css/dq.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/related_post.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/ad.css" | prepend: site.baseurl }}">
    {% endif %}

   
   
    <!-- mermaid -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
    <script>
      var config = {
        startOnLoad: true,
        theme: 'forest',
        flowchart: {
          useMaxWidth: false,
          htmlLabels: true
        }
      };
      mermaid.initialize(config);
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
    <!-- mermaid end -->

  
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
      href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
    <!-- typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <!-- typed.js end -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- fontawesome end -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116676814-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
  
      gtag('config', 'UA-116676814-1');
    </script>
  
  </head>

<body>
  <div class="page-content">

    {% include nav.html %}

    <div class="nine columns margin-top" style="z-index:100;">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </div>
  </div>



  {% if page.layout == post or page %}
    {% include related_post.html %}
  {% endif %}

  <!-- aside either hidden or not -->
  {% if page.permalink contains 'archive' %}
  <aside class="floating-ad">{% include ad/adside-ad.html %}</aside>
  <script>console.log('side ad appears')</script>
  {% endif %}
  <!-- aside hidden end -->

</body>

</html>
