---
layout: default
permalink : /post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    <h1>{{page.title}}</h1>
    <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>

    {% for category in post.categories %}
    <p>{{ category }}</p>
    {% endfor %}

  </header>

  <main class="article-content" itemprop="articleBody">
    {% include ad/ad-after-first-para.html %}

    {{ page.content }}

    {% include ad/end-of-post-ad.html %}
  </main>

  <aside class="floating-ad">{% include ad/adside-ad.html %}</aside>
  <script>console.log('side ad appears')</script>

  <div>
    <!-- comment section -->
    {% include dq.html %}
    <!-- comment section end -->

  </div>


  <script>
    // google ad attaches after the first paragraph 
    document.getElementsByTagName('p')[1].appendChild(document.getElementsByClassName('adsbygoogle')[0])
  </script>


</article>