---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    <h1>{{page.title}}</h1>
    <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>

    {% for category in post.categories %}
    <p>{{ category }}</p>
    {% endfor %}

  </header>

  <div class="article-content" itemprop="articleBody">
    

    {% include in-feed-ad.html %}
    
    {{ page.content }}

    {% include end-of-post-ad.html %}
  </div>

 <!-- comment section -->
  {% include dq.html %}
  
  <!-- comment section end -->

<script>
// google ad attaches after the first paragraph 
document.getElementsByTagName('p')[1].appendChild(document.getElementsByClassName('adsbygoogle')[0])
    
</script>

</article>